<div class="container">
    <div class="row">
        <div class="col">
            <app-studenci-view [studenciItems]="studenci"
            (addStudent)="onAddStudent($event)" (usunStudent)="onUsunStudent($event)">
            </app-studenci-view>
        </div>
    </div>
    <div *ngIf="isCreated" class="row">
        <div class="col">
            <p  class="alert alert-danger">Student już istnieje!</p>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <app-samochody-view [samochodyItems]="samochody"
            (addCar)="onAddCar($event)" (removeCar)="onRemoveCar($event)"></app-samochody-view>
        </div>
    </div>
</div>


